<% if Decidim::Liquidvoting::Delegation.granted_to?(current_user, consultation) %>
  <div class="delegation-callout callout warning is-hidden">
    <p><%= t "liquidvoting.delegations_modal.callout", scope: "decidim" %> <span class="delegation-callout-message"></span></p>
  </div>
<% end %>
