<% if Decidim::Liquidvoting::Delegation.granted_to?(current_user, question.consultation) %>
  <div class="delegations-notice flex--cc">
    <%= link_to t("liquidvoting.delegations.link", scope: "decidim"), decidim_consultations.question_path(question) %>
  </div>
<% end %>
