<div class="row column voluntary-work-list">
  <section class="section">
    <div class="card card--list">

      <div class="card--list__item">
        <div class="card--list__text">
          <div>
            <h5 class="card--list__heading">
            Gimme some power!
            </h5>
            <span class="text-small">
              I'm a small text
            </span>
          </div>
        </div>
        <div class="card--list__annotation">
          I could be a button
        </div>
      </div>

  </div>
  </section>
</div>
