<% content_for :secondary_nav do %>
  <%= render "layouts/decidim/liquidvoting/admin/users_sidebar" %>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= translated_attribute(current_setting.consultation.title) %>
    </div>
  </div>

  <%= yield %>
<% end %>
